@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.5); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.5); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body{
  font-family: "Avenir", "URW Gothic L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #adafb3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a,
a:visited{
  color: #f35;
  text-decoration: none;
  outline: none;
}

img{
  max-width: 100%;
  -webkit-animation: pop-in 0.4s;
  -moz-animation: pop-in 0.4s;
  -ms-animation: pop-in 0.4s;
}

header {
  margin-bottom: 30px;
}
